Source: ros-noetic-paho-mqtt-c
Section: misc
Priority: optional
Maintainer:  <paho-success@eclipse.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libssl-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-paho-mqtt-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl-dev, ros-noetic-catkin
Description: Eclipse Paho C Client Library for the MQTT Protocol
